@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
body{
	background: #eee;
}
.jumbotron{
	background: #69F0AE;
	color: #fff;
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

.jumbotron img{
	max-width: 80px;
}
span{
	color: #00C853;
	font-size: 38px;
}